<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiang.server.savemapper.SaveRemoteMapper">
<sql id="Base_Column_List">
    id
    ,del
    ,ip
    ,port
    ,client_type
    ,remark
    ,account
    ,password
    ,groupid
    ,localip
    ,localport
    ,gmt_modified
    ,gmt_create
    ,conne_break_flag
</sql>
  <insert id="save" parameterType="com.xiang.bean.po.Remote">
    insert into remote (
     <include refid="Base_Column_List" />
      )
    values (
    #{id,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{del,jdbcType=BIT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{ip,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{port,jdbcType=INTEGER,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{clientType,jdbcType=INTEGER,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{remark,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{account,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{password,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{groupid,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{localip,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{localport,jdbcType=INTEGER,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{gmtModified,jdbcType=TIMESTAMP,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{gmtCreate,jdbcType=TIMESTAMP,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
    ,#{conneBreakFlag,jdbcType=BIT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
      )
  </insert>
</mapper>